<?php ob_start(); ?>
style(type="text/css").
	.cont_exam{
		font-size:120%;
		color:#f00;
		font-weight:bold;
	}


<?php $px->bowl()->send( ob_get_clean(), 'head' ); ?>


div.unit.center
	p これはJADE文法で書いています。
	p.cont_exam head bowl にスタイルシートを出力するPHPコードを書きました。
	p.cont_exam スタイルが効いていれば、文字が赤くなっているはずです。
